table, tr, th, td {
    border: 0 !important;
    border-collapse: collapse;
    white-space: normal;
}

.no-padding {
    padding: 0 !important;
}

.fountainGContainer {
    position: relative;
    width: 234px;
    height: 28px;
    margin: auto;
}

.fountainG {
    position: absolute;
    top: 0;
    background-color: rgb(255, 255, 255);
    width: 28px;
    height: 28px;
    animation-name: bounce_fountainG;
    -o-animation-name: bounce_fountainG;
    -ms-animation-name: bounce_fountainG;
    -webkit-animation-name: bounce_fountainG;
    -moz-animation-name: bounce_fountainG;
    animation-duration: 0.905s;
    -o-animation-duration: 0.905s;
    -ms-animation-duration: 0.905s;
    -webkit-animation-duration: 0.905s;
    -moz-animation-duration: 0.905s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    transform: scale(.3);
    -o-transform: scale(.3);
    -ms-transform: scale(.3);
    -webkit-transform: scale(.3);
    -moz-transform: scale(.3);
    border-radius: 19px;
    -o-border-radius: 19px;
    -ms-border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
}

.fountainG_1 {
    left: 0;
    animation-delay: 0.366s;
    -o-animation-delay: 0.366s;
    -ms-animation-delay: 0.366s;
    -webkit-animation-delay: 0.366s;
    -moz-animation-delay: 0.366s;
}

.fountainG_2 {
    left: 29px;
    animation-delay: 0.4525s;
    -o-animation-delay: 0.4525s;
    -ms-animation-delay: 0.4525s;
    -webkit-animation-delay: 0.4525s;
    -moz-animation-delay: 0.4525s;
}

.fountainG_3 {
    left: 58px;
    animation-delay: 0.549s;
    -o-animation-delay: 0.549s;
    -ms-animation-delay: 0.549s;
    -webkit-animation-delay: 0.549s;
    -moz-animation-delay: 0.549s;
}

.fountainG_4 {
    left: 88px;
    animation-delay: 0.6355s;
    -o-animation-delay: 0.6355s;
    -ms-animation-delay: 0.6355s;
    -webkit-animation-delay: 0.6355s;
    -moz-animation-delay: 0.6355s;
}

.fountainG_5 {
    left: 117px;
    animation-delay: 0.732s;
    -o-animation-delay: 0.732s;
    -ms-animation-delay: 0.732s;
    -webkit-animation-delay: 0.732s;
    -moz-animation-delay: 0.732s;
}

.fountainG_6 {
    left: 146px;
    animation-delay: 0.8185s;
    -o-animation-delay: 0.8185s;
    -ms-animation-delay: 0.8185s;
    -webkit-animation-delay: 0.8185s;
    -moz-animation-delay: 0.8185s;
}

.fountainG_7 {
    left: 175px;
    animation-delay: 0.905s;
    -o-animation-delay: 0.905s;
    -ms-animation-delay: 0.905s;
    -webkit-animation-delay: 0.905s;
    -moz-animation-delay: 0.905s;
}

.fountainG_8 {
    left: 205px;
    animation-delay: 1.0015s;
    -o-animation-delay: 1.0015s;
    -ms-animation-delay: 1.0015s;
    -webkit-animation-delay: 1.0015s;
    -moz-animation-delay: 1.0015s;
}

@keyframes bounce_fountainG {
    0% {
        transform: scale(1);
        background-color: rgb(0, 0, 0);
    }

    100% {
        transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}

@-o-keyframes bounce_fountainG {
    0% {
        -o-transform: scale(1);
        background-color: rgb(0, 0, 0);
    }

    100% {
        -o-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}

@-ms-keyframes bounce_fountainG {
    0% {
        -ms-transform: scale(1);
        background-color: rgb(0, 0, 0);
    }

    100% {
        -ms-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}

@-webkit-keyframes bounce_fountainG {
    0% {
        -webkit-transform: scale(1);
        background-color: rgb(0, 0, 0);
    }

    100% {
        -webkit-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}

@-moz-keyframes bounce_fountainG {
    0% {
        -moz-transform: scale(1);
        background-color: rgb(0, 0, 0);
    }

    100% {
        -moz-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}